<div *ngIf="patient">
  <h2>Patient id {{patient.id}} Details</h2>
  <h3>Medical Record: {{patient.medicalRecord}}</h3>
  <div>
    <label>Name: {{user.name}}</label><br>
    <label>Date: {{user.birthdate}}</label><br>
    <label>Gender: {{user.gender}}</label><br>
    <label>Address: {{user.address}}</label><br>
  </div>

  <div *ngIf="medicationPlan; else noMedication">
    <ul *ngFor="let mPP of medicationPerPlan">
      <li>Name for Medication : {{mPP.medication.name}}</li>
      <li>Start Time : {{mPP.medicationPlan.startTime}}</li>
      <li>End Time : {{mPP.medicationPlan.endTime}}</li>
      <li>Dosage:
        <ul *ngFor="let d of getKey(mPP.id)">
          <li>Moment to take :{{d.intake.intakeMoment}}. Dosage to take:{{d.unit}}</li>
        </ul>
      </li>
    </ul>
  </div>
  <ng-template #noMedication>
    <p>No medication plan for this user</p>
  </ng-template>
</div>
