<div>
  <p>Please provide valid username and password to login</p>
  <form>
    UserName:<br>
      <input #username type="text" value="Username"><br>
    <br>
    Password:<br>
      <input #password type="password" value="Password"><br>
  </form>
  <br>
  <button id="log-inButton" (click)="goStart(username.value, password.value)">Log-in</button>

  <p>If you dont have an account already please create one here:<button id="sign-inButton" (click)="goSignIn()">Sign in</button></p>
</div>
