<p>User data for user with name {{user.name}}:</p>
<div>
  <label>Name:
    <input [(ngModel)]="user.name" placeholder="name"/>
  </label><br>
  <label>Birthdate:
    <input [(ngModel)]="user.birthdate" placeholder="birthdate"/>
  </label><br>
  <label>Address:
    <input [(ngModel)]="user.address" placeholder="address"/>
  </label><br>
  <label>Gender:
    <input [(ngModel)]="user.gender" placeholder="gender"/>
  </label><br>
  <label>UserName:
    <input [(ngModel)]="user.userName" placeholder="username"/>
  </label><br>
  <label>Password:
    <input [(ngModel)]="user.password" placeholder="password" type="password"/>
  </label><br>
  <label>Role Id:
    <input #roleId placeholder="roleId" />
  </label><br>
  <label>Role: {{user.role.type}}
  </label><br>

  <button (click)="update(roleId.value)"> Update user info</button>
  <button (click)="delete(user.id)"> Delete User</button>
  <button (click)="goBack()"> Go back</button>

</div>
