<div>
  <label>Name: {{user.name}}
  </label><br>
  <label>Doctor: {{doctor.name}}
  </label><br>
  <label>Caregiver: {{caregiver.name}}
  </label><br>
  <label>Role Id:
    <input #doctorId placeholder="doctorId" />
  </label><br>
  <label>Role Id:
    <input #caregiverId placeholder="caregiverId" />
  </label><br>

  <button (click)="update(doctorId.value, caregiverId.value)"> Update user info</button>
  <button (click)="goBack()"> Go back</button>

  <br>
  <br>
  <label>Date:
    <input #dateSelect placeholder="2020-01-01" />
    <button (click)="getData(dateSelect.value)"> Show graph</button>
  </label>

  <div class="row">
    <ngx-charts-bar-vertical
      [view]="view"
      [scheme]="colorScheme"
      [results]="single"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel">
    </ngx-charts-bar-vertical>
  </div>
  <div *ngIf="pills.length > 0">
    <ul *ngFor="let pill of pills">
      <div *ngIf="pill.id != 0">
       Pill with name: {{pill.medication.name}} and intake: {{pill.intake.intakeMoment}}, taken : {{pill.taken}}.
      </div>
    </ul>
  </div>

  <div *ngIf="actions.length > 0">
    <ul *ngFor="let action of actions">
      The patient spend too much time {{action.activityName}}, time : {{action.startTime}}. Normal? <input #normal placeholder="no"/>
      <button (click)="updateNormal(normal.value, action.id)"> Change flag</button>
      <br> Recommendation: {{action.recommendations}}. Update recommendation: <input #recommendation />
      <button (click)="updateRecommendation(recommendation.value, action.id)"> Update recommendation</button>
    </ul>
  </div>

</div>
