<p></p>
<div>
  <div >
    <label>Start Time:
      <input [(ngModel)]="medicationPlan.startTime" placeholder="startTime"/>
    </label><br>
    <label>End Time:
      <input [(ngModel)]="medicationPlan.endTime" placeholder="endTime"/>
    </label><br>
    <button (click)="update()"> Update</button>


    <ul *ngFor="let mPP of medicationPerPlans">
      <li>Name for Medication : {{mPP.medication.name}}</li>
      <li>Dosage:
        <ul *ngFor="let d of getKey(mPP.id)">
          <li>Moment to take :{{d.intake.intakeMoment}}. Dosage to take:{{d.unit}}
          <button (click)="deleteMoment(d.id)">Delete Moment</button>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <label>Medication Id:
    <input #medicationId placeholder="medicationId"/>
  </label><br>
  <label>Intake Id:
    <input #intakeId placeholder="intakeId"/>
  </label><br>
  <label>Unit:
    <input #unit placeholder="unit"/>
  </label><br>

  <button (click)="addMP(medicationId.value, intakeId.value, unit.value)"> Add</button>
  <button (click)="goBack()"> Go back</button>
</div>
