<div>
  <p>List of all patients:</p>
  <div *ngIf="patients.length == 0">
    No Patient
  </div>

  <div *ngIf="patients.length > 0">
    <ul *ngFor="let patient of patients">
      Patient with id: {{patient.id}} and medical Record: {{patient.medicalRecord}}.
      <button (click)="goToPatient(patient.id)">View</button>
    </ul>
  </div>

  WebSocket:
  <button id="disconnect" type="submit" (click)="disconnect()">Disconnect</button>
</div>
