<p>Medication Detail:</p>
<div>
  <label>Name:
    <input #name [(ngModel)]="medication.name" placeholder="name"/>
  </label><br>

  <label>Side Effect:
    <input #sideEfect [(ngModel)]="medication.sideEfect" placeholder="sideEffect"/>
  </label><br>

  <button (click)="update()"> Update Medication info</button>
  <button (click)="save(name, sideEfect)"> Save Medication info</button>
  <button (click)="delete(medication.id)"> Delete Medication</button>
  <button (click)="goBack()"> Go back</button>
</div>
