<div>
  <p>Please fill all fields</p><br>
  <form>
    Name:<br>
    <input #name type="text"><br>
    <br>
    Birthday:<br>
    <input #birthdate type="text"><br>
    <br>
    Gender:<br>
    <input #gender type="text"><br>
    <br>
    Address:<br>
    <input #address type="text"><br>
    <br>
    UserName:<br>
    <input #userName type="text"><br>
    <br>
    Password:<br>
    <input #password type="password"><br>
  </form>

  <button (click)="save(name.value, birthdate.value, gender.value, address.value, userName.value, password.value)">Register</button>
</div>
