<div>
  <p>List of all Users:</p>
  <div *ngIf="users.length == 0">
    No users
  </div>

  <div *ngIf="users.length > 0">
    <ul *ngFor="let user of users">
      User with name: {{user.name}} and Id: {{user.id}}.
      <button (click)="goEditUser(user.id)">Edit</button>
    </ul>
  </div>

  <p>List of all patients:</p>
  <div *ngIf="patients.length == 0">
    No patients
  </div>

  <div *ngIf="patients.length > 0">
    <ul *ngFor="let patient of patients">
      Patient with name: {{patient.user.name}} and id: {{patient.id}}.
      <button (click)="goEditPatient(patient.id)">Edit</button>
    </ul>
  </div>

  <p>List of all Medication:</p>
  <div *ngIf="medications.length == 0">
    No Medication
  </div>

  <div *ngIf="medications.length > 0">
    <ul *ngFor="let medication of medications">
      Medication with name: {{medication.name}}.
      <button (click)="goEditMedication(medication.id)">Edit</button>
    </ul>
  </div>

  <div>
    <label>Name:
      <input #name placeholder="name"/>
    </label><br>
    <label>Side Effect:
      <input #sideEfect placeholder="sideEffect"/>
    </label><br>
    <button (click)="addMedication(name.value, sideEfect.value)">Add Medication</button>
  </div>

  <p>List of all Medication Plans:</p>
  <div *ngIf="medicationPlans.length == 0">
    No Medication Plan
  </div>

  <div *ngIf="medicationPlans.length > 0">
    <ul *ngFor="let medicationPlan of medicationPlans">
      Medication plan for patient with id: {{medicationPlan.patient.id}}, start time: {{medicationPlan.startTime}} and
      end time: {{medicationPlan.endTime}}.
      <button (click)="goEditMedicationPlan(medicationPlan.id)">Edit</button>
      <button (click)="delete(medicationPlan.id)">delete</button>
    </ul>
  </div>
  <div>
    <label>Start time:
      <input #startTime placeholder="startTime"/>
    </label><br>
    <label>End time:
      <input #endTime placeholder="endTime"/>
    </label><br>
    <label>Patient:
    <input #patientId placeholder="patientId"/>
    </label><br>
    <label>Medical Record:
      <input #medicalRecord placeholder="MedicalRecord"/>
    </label><br>
    <button (click)="addMedicationPlan(startTime.value, endTime.value, patientId.value, medicalRecord.value)">Add Medication Plan</button>
  </div>

</div>
